{% extends "gallery.html" %}

{%block content%}
    <form action="{{ url_for('add_movie') }}" method="post" id="block" style="display: flex;justify-content: center;">
        <div>
            <label>
                название фильма:
                <input type="text" name="title" id="">
                <br>
            </label>
            <label>
                ссылка на картинку:
                <input type="text" name="url" id=""><br>
            </label>
            <label>
                описание фильма:
                <input type="text" name="text" id=""><br>
            </label>
            
            <button type="submit">запостить</button>
        </div>
    </form>
    {%if all%}
    <div id="content">
        {%for item in all %}
                <div style="position:relative;" class="card1">
                    <a href="card/{{item.title}}And{{item.id}}" class="card CardD{{item.id}}">
                        <!-- <h1 style="height: 80px;display: flex;justify-content:center;align-items:center;text-align: center;">{{item.title}}</h1> -->
                        <img src="{{ item.url_ }}" alt="" height="500px">
                    </a>
                    <form action="{{url_for('delete_movie')}}" method="post">
                        <button value="{{item.id}}" name="id" type="submit">удалить</button>
                    </form>
                    <form action="{{url_for('edit_movie')}}" method="get">
                        <button value="{{item.id}}" name="id" type="submit">редактировать</button>
                    </form>
                </div>
                <style>
                    .CardD{{item.id}}::after{
                        content:'{{item.title}}';
                        font-size: 26pt;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: calc(100% - 46px);
                        background-color: rgba(0, 0, 0, 0.50);
                        color: white;
                        display: flex;
                        justify-content:center;
                        align-items:center;
                        text-align: center;
                        z-index: 1000;
                        opacity: 0;
                        transition: opacity 200ms;
                    }
                    .card1:hover .CardD{{item.id}}::after{
                        opacity: 1;
                    }
                    
                    
                </style>
        {%endfor%}
    </div>
    {%endif%}
    <style>
        #content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .card{
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}