<div id="nav-bar">
    <a href="/" id="a"><p id="film">Все о <span> фильмах</span></p></a>
        {% if register %}
        <div id="user1">
            <h2 style="font-weight: 100;">{{ register }}</h2>
            <form>
                <button formaction="/exit" formmethod="post" type="submit">выход</button>
            </form>
        </div>
        {% else %}
        <div id="user">
            <button value="register" class="popup_link">регистрация</button>
            <button value="login" class="popup_link">вход</button>
        </div>
        {% endif %}
</div>

<div id="login" class="popup">
    <div class="popup_body">
        <a class="popup_close link" value="login"></a>
        <div class="popup_content">
            <button class="popup_close" value="login">×</button>
            <div class="popup_title">Вход</div>
            <div class="popup_text">
                <form action="/log_in" method="post">
                    <!-- http://htmlbook.ru/html/input -->
                    <div>
                        <input type="text" id="username" class="valudebl" autocomplete="off" name="name">
                        <label for="username">введите имя</label>
                    </div>
                    <div>
                        <input type="text" id="passord" class="valudebl" autocomplete="off" name="password">
                        <label for="passord">введите пароль</label>
                    </div>
                    <button type="submit" class="posts">войти</button>
                    {% if ban_reg %}
                    <p style="color: red;" class="error_popup">вы ввели не правельный логин или пароль</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<div id="register" class="popup">
    <div class="popup_body">
        <a class="popup_close link" value="register"></a>
        <div class="popup_content">
            <button class="popup_close" value="register">×</button>
            <div class="popup_title">Регистрация</div>
            <div class="popup_text">
                <form action="/add_user" method="post">
                    <!-- http://htmlbook.ru/html/input -->
                    <div>
                        <input type="text" id="username" class="valudebl" autocomplete="off" name="name">
                        <label for="username">введите имя</label>
                    </div>
                    <div>
                        <input type="text" id="passord" class="valudebl" autocomplete="off" name="password">
                        <label for="passord">введите пароль</label>
                    </div>
                    <div>
                        <input type="text" id="passord" class="valudebl" autocomplete="off" name="passwordTwo">
                        <label for="passord">повторите пароль</label>
                    </div>
                    <button type="submit" class="posts">зарегистрироватся</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //может быть это нужно реализовать спомощью промисов
    let validebls = document.querySelectorAll('.valudebl')
    console.log(validebls)
    for(const validebl of validebls)
    setInterval(()=>{
        if(validebl.value!=''){
            validebl.classList.add('active')
        }
        else{
            validebl.classList.remove('active')
        }
    },10)
    const second = validebls[validebls.length-1]
    const first = validebls[validebls.length-2]
    console.log(second.value)
    setInterval(()=>{
        if (second.value==first.value){
            second.classList.remove('dead')
        }else {
            if (second.value==""){
                second.classList.remove('dead')
                return
            }
            second.classList.add('dead')
        }
    },10)
</script>
<script>
    const popup_links = document.querySelectorAll(".popup_link")
    const popup_close = document.querySelectorAll(".popup_close")

    for (const popupLink of popup_links){
        popupLink.addEventListener("click",function(e){
            const name = popupLink.getAttribute('value')
            const current = document.getElementById(name)
            current.classList.add("open")
            document.body.style.overflow = "hidden"
        })
    }

    for (const popupCloseNow of popup_close){
        popupCloseNow.addEventListener("click",function(e){
            const name = popupCloseNow.getAttribute('value')
            const current = document.getElementById(name)
            current.classList.remove('open')
            document.body.style.overflow = "auto"
        })
    }
</script>